@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}

header .logo
{
	max-width: 120px;	
}

header .toggle
{
	max-width: 60px;
	cursor:pointer;	
}

header ul 
{
   position: relative;
   display: flex;	
   justify-content: center;
   align-items: center;
   
}

header ul li
{
   position: relative;
   list-style: none;	
}


header ul li a
{
   position: relative;
   margin:0 15px;
   text-decoration: none;
   color: #FFF;
   letter-spacing: 2px;
   font-weight: 500px;
   transition: 0.6s;
   padding: 20px;
}

header ul li a:hover{
    background-color:#CF3;
	color:#FFF;
	padding: 3px 5px;
}

header ul li.active a{
	background-color: #006;
	color::#000;
	
}

header ul ul
{
	display:none;
	position: relative;
	border: 5px;
	}

header ul li:hover > ul {
    display: block;
	margin: 6px;
} 


header .logo img,
header .toggle img
{
    max-width: 100px;	
}
.banner
{
	position:relative;
	width: 100%;
	min-height:100vh;
	padding:0 100px;
	background:url(../Justice/Beauty3.jpg);
	background-position:center;
	background-size:cover;
	display:flex;
	justify-content: center;
	align-items:center;	
}

body .banner:after
{
	content: '';
	position:absolute;
	bottom: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index:1;
	background: linear-gradient(to bottom,#111,transparent);	
}


.banner .content
{
	max-width: 650px;
	margin-left: 250px;
}

.banner .content h2
{
	text-transform:uppercase;
	font-weight:400;
	font-size: 2.2em;
	letter-spacing: 0.1em;
	color:#FFF;	
	margin-top: 180px;
}


.banner .content h2 span
{
	font-weight: 800;
}


.banner .content p
{
	font-size:1.2em;
	font-weight:300;
	letter-spacing: 0.02em;
	line-height:1.5em;
	color:#FFF;	
	margin: 15px 0 35px;
}

.play
{
	position:relative;
	display: inline-flex;
	justify-content:flex-start;
	align-items: center;
	color:#FFF;
	text-transform:uppercase;
	font-weight:500;
	text-decoration:none;
	letter-spacing:2px;
	font-size:1.2em;	
}

.play img
{
	margin-right: 10px;
	max-width: 50px;
		
}


.slide
{
	position:absolute;
	bottom: 5px;
	Left: calc(50% - 250px / 2);
	width:250px;
	height:150px;
	background:url(../Justice/Beauty2.jpg);
	background-size:cover;
	cursor:pointer;
	animation: animate 25s linear infinite;	
}


.footer
{
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;	
	background:url(../Justice/JLA10.jpg);
	height: 30vh;
	background-size:cover;
}

.footer .sci
{
  position: relative;
  display: flex;
}

.footer .sci li
{
	list-style:none;	
}

.footer .sci li a
{
	text-decoration:none;
	margin: 0 20px;	
}

.footer .sci li a img
{
  filter:invert(1);	
  max-width: 40px;
  transform: scale(0.6);
}

.copyrightText
{
 	margin-top: 20px;
	color:#FFF;
	font-size: 18px;
	font-weight:300;
	color:#666;
	text-align:center;
}

.copyrightText a
{
	color:#FFF;
	text-decoration: none;	
}

@keyframes animate
{
   0%,100%
   {
	   background-position:top;
   }
   
   45%,55%
   {
	   background-position: bottom;   
   }
}

.trailer
{
   position:fixed;
   top: 50%;
   left:50%;
   transform:translate(-50%,-50%);
   z-index:10000;
   background:rgba(0,0,0,0.95);
   width:100%;
   height: 100%;
   display:flex;
   justify-content:center;
   align-items: center;	
   visibility:hidden;
   opacity: 0;	
}

.trailer.active
{
   visibility: visible;
   opacity: 1;	
}
.trailer video
{
	max-width: 900px;
	outline:none;	
}

.trailer .close
{
    position:absolute;
	top:30px;
	right:30px;
	cursor:pointer;
	filter: invert(0);
	background-image:url(../Joker/play.png);
	max-width:32px;	

}

@media (max-width: 991px)
{
 header
 {
	padding: 20px 50px; 
 }
 
 header .logo
 {
	max-width: 80px; 
 }
 
 header .toggle
 {
	max-width: 40px; 
 }
 
 .banner
 {
	padding: 100px 50px; 
 }
 
 .banner .content h2
 {
	font-weight: 400;
	font-size: 2em;
	letter-spacing: 0.05em;
 }
 .banner .content p
 {
	 font-size: 1em;
 }
 
 .slide
 {
	 position:relative;
	 bottom:initial;
	 left:0;
	 width:250px;
	 height:150px;
	 margin:20px 0;
 }
 
 .sci
 {
	 position:absolute;
	 top:initial;
	 right:initial;
	 margin-top:40px;
	 transform:translateY(-50%);
	 display:flex;
	 justify-content:center;
     align-items: center;	
	 flex-direction: row;
	 
 }
 
 .sci li
 {
	 list-style:none;
	 margin:0 5px;
 }
 
 .trailer video
 {
	 max-width:90%;
	 outline:none;
 }
 
 header .navigation
	{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		display: none;
		z-index: 10;
		justify-content:center;
		align-items: center;
		flex-direction: column;
	}
	
	header .navigation.active
	{
		display:flex;
	}
	
	header .navigation li a
	{
		font-size: 24px;
		margin: 10px 0;	
	}
	
	.toggleMenu
	{
		position: relative;
		width: 30px;
		height: 30px;
		background:url(../Joker/menu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		cursor:pointer;
		z-index:11;	
	}
	
	.toggleMenu.active
	{
	
		background:url(../Joker/close.png);
		background-position:center;
		background-size: 25px;
		background-repeat: no-repeat;
	}
	

}

